.elements__title-bar {
  max-width: calc(100% - (15px + 21px));
  max-height: 29px;
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
  /* padding-top: calc(calc(79px - 29px)*25/(25 + 31)); */
  margin: 2px 15px 0 21px;
  /* padding-bottom: 4px; */
  /* overflow: hidden; */
  /* padding-bottom: 5px; */
}