.header {
  width: 100%;
  max-width: calc(282px*3 + 17px*2);
  margin: 45px auto 0;
  padding: 0 0 41px 0;
  border-bottom: 1px solid #545454;
  display: flex;
  justify-content: flex-start;
}

@media screen and (max-width:980px) {
  .header {
    max-width: calc(282px*2 + 17px*1);
  }
}

@media screen and (max-width:641px) {
  .header {
    max-width: calc(282px*1 + 17px*0);
    margin: 28px auto 0;
    padding: 0 0 31px 0;
  }
}