.profile__title {
  grid-area: title;
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  align-self: flex-end;
}

/* .profile__title {
  padding: 0 1.18px 0 0;
  margin: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 1ex;
  max-width: calc(100% - (24px + 18px)); /* profile__button-edit + margin-left  */
/*} */

@media screen and (max-width:980px) {
  .profile__title {
    font-size: 34px;
    line-height: 38px;
  }
}

@media screen and (max-width:641px) {
  .profile__title {
    font-size: 27px;
    line-height: 33px;
    /* воссоздаём line-height как на макете */
    /* padding-top: calc(27px - 1ex - 2px); */
    text-align: center;
    max-width: 100%;
    /* min-width: 70%; */
  }
}