.elements {
  width: 100%;
  max-width: 3fr;
  margin: 50px auto 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 17px 20px;
}

@media screen and (max-width:641px) {
  .elements {
    margin: 36px auto 0;
    gap: 20px;
  }
}