.profile__button-add {
  width: 150px;
  height: 50px;
  align-self: center;
  padding: 0;
  margin-left: 40px;
  background-image: url(../../../images/profile-button-add.svg);
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px 22px;
  border: 2px solid #fff;
  border-radius: 2px;
}

@media screen and (max-width:980px) {
  .profile__button-add {
    width: 100px;
    background-size: 20px 20px;
  }
}

@media screen and (max-width:641px) {
  .profile__button-add {
    width: 282px;
    margin: 24px auto 0; /* на макете margin-top: 36px, но это расстояние между блоком button-add и базовой линией блока profile__subtitle
    для соответствия макету в данном случае уменьшаем margin-top до 32px из-за зазора между нижней границей блока profile__subtitle  
    и базовой линией текста в 4px */
    background-size: 16px 16px;
  }
}