.profile__title-grid {
  display: flex;
  flex-direction: row;
  max-width: calc(100% - (150px + 40px));
}

@media screen and (max-width:980px) {
  .profile__title-grid {
    max-width: calc(100% - (100px + 40px));
  }
}

@media screen and (max-width:641px) {
  .profile__title-grid {
    flex-direction: column;
    max-width: 100%;
  }
}